# Dependencies
node_modules/

# Build output
dist/
build/

# Config files
webpack.config.js
tsconfig.json

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
